.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
  }
  
  .navbar-logo {
    height: 80px;
    margin-right: 3rem;
  }
  
  .navbar-links {
    display: flex;
    list-style: none;
  }
  
  .navbar-link {
    margin-right: 1rem;
  }
  
  .navbar-link a {
    color: #444;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.2s ease-in-out;
  }
  
  .navbar-link a:hover {
    color: #f4511e;
  }